@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavigationManager

<header>
    <div class="header-left">
        <h1>BuyJugador Admin</h1>
    </div>
</header>

<main>
    <div class="top-row px-4">
        <AuthorizeView Context="authCtx">
            <Authorized>
                <span>Hola, @authCtx.User.Identity.Name</span>
                <button class="btn btn-link" @onclick="Logout">Logout</button>
            </Authorized>
            <NotAuthorized>
                <a href="/login">Login</a>
            </NotAuthorized>
        </AuthorizeView>
    </div>

    <article class="content px-4">
        @Body
    </article>
</main>

@code {
    private async Task Logout()
    {
        await ((CustomAuthenticationStateProvider)AuthStateProvider).MarkUserAsLoggedOut();
        NavigationManager.NavigateTo("/login");
    }
}
