.tbl th.col-cuit,
.tbl td.col-cuit {
    width: 160px;
    max-width: 160px;
    white-space: nowrap;
}

.tbl th.col-localidad,
.tbl td.col-localidad {
    width: 100px;
    max-width: 100px;
    white-space: normal;
    overflow: visible;
    text-overflow: clip; 
    word-break: break-word;
    overflow-wrap: anywhere
}

.tbl td {
    vertical-align: middle;
}
